## Control Flow Statements Day4

In [1]:
for j in range(1,5):
   print(j,end="")

1234

In [2]:
for i in range(1,4):
   for j in range(1,5):
      print(j,end='')

123412341234

In [4]:
for i in range(1,4):
   for j in range(1,5):
      print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [13]:
for i in range(1,4):
   for j in range(1,5):
      print(i,j,end='')
   print()

1 11 21 31 4
2 12 22 32 4
3 13 23 33 4

In [17]:
for i in range(1,4):
   for j in range(1,5):
      print(i,j,sep="",end=' ')
   print()

11 12 13 14
21 22 23 24
31 32 33 34

In [18]:
#Comparision Operator
a=10
b=20
a==b

False

## Pattern Printing using loop

In [21]:
for row in range(1,6):
   for col in range(1,row+1):
      print(col,end='')
   print()

1
12
123
1234
12345

In [22]:
for row in range(1,6):
   for col in range(1,row+1):
      print("*",end='')
   print()

*
**
***
****
*****

In [26]:
n=int(input("Enter a number :"))
for row in range(1,n+1):
   for col in range(1,row+1):
      print(col,end=" ")
   print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
for row in range(1,5):
   print(" "*(4-row),end="")
   print("*"*(2*row-1))
print()

   *
  ***
 *****
*******

In [33]:
n=int(input("Enter a number :"))
for row in range(1,n+1):
   print(" "*(n-row),end="")
   print("*"*(2*row-1))
print()

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

## loop with else

In [ ]:
## loop with else only there in python
for i in range(1,11):
   if i%50==0:
      break
   print(i)
else:
   print("Hello") #This will also execute

1
2
3
4
5
6
7
8
9
10
Hello

In [35]:
## loop with else only there in python
for i in range(1,11):
   if i%5==0:
      break
   print(i)
else:
   print("Hello") #This will not execute

1
2
3
4