##### Day 10 String Lec : 01

###### Most used fundamental data type is string
###### We can write string in single quote / double quote and triple quotes

In [1]:
a='Akash'
b="Akash"
c='''Akash'''

In [2]:
c

'Akash'

In [3]:
b

'Akash'

In [4]:
a

'Akash'

In [6]:
a="Welcome to akash's Classes"
print(a)

Welcome to akash's Classes

In [7]:
a='Hi hello akash \' how are you'

In [8]:
print(a)

Hi hello akash ' how are you

In [13]:
a='Akash'
#  01234
# -5-4-3-2-1
#  A k a s h
print(a[0],end="")
print(a[1],end="")
print(a[2],end="")
print(a[3],end="")
print(a[4])
print(a[-5],end="")
print(a[-4],end="")
print(a[-3],end="")
print(a[-2],end="")
print(a[-1],end="")

Akash
Akash

In [14]:
print(len(a))

5

In [15]:
a='Akash'
for i in range(len(a)):
    print(i,a[i])

0 A
1 k
2 a
3 s
4 h

In [17]:
a='Akash'
for i in range(len(a)):
    print(i-len(a),a[i-len(a)])

-5 A
-4 k
-3 a
-2 s
-1 h

##### Slicing

In [22]:
# Syntax [start:end:step]
# if we did not specify starting index by default python start from 0
a='Akash'
print(a[:5])
# if we did not specify end then printing will goes till end of string
print(a[0:])
#if we did not specify any start or end value by default it will print the entire string
print(a[:])

Akash
Akash
Akash

In [ ]:
#Strory of a slice operator
'''
in forward direction 
default begin with 0
default end is len(string)
default step is 1

in backward direction
default start is -1
default end is -(leng(string)+1)
default step is -1
'''

In [ ]:
name="Akash"
print(name[4:2:-1]) #-1 indicates direction is reverse start is 4 and end is (2+1) ie, 3

hs

In [24]:
print(name[1:4:-1]) # No such string exists so empty

In [ ]:
#For reversing a string in python
print(name[::-1])

hsakA

In [27]:
#Multiply operator for string it is repeting strings
print(name*2) 
#addition operator is concatinates strings
print(name+name)

AkashAkash
AkashAkash

In [32]:
name="Akash"
for i in name[::-1]:
    print(i)

h
s
a
k
A

In [37]:
#Membership Operator in
name="Akash is a good boy"
print("Akash" in name)
print("good" in name)

True
True

In [38]:
s=input('Enter a string :')
t=input('Enter a substring u want to find :')
if t in s:
    print('Yes')
else:
    print("No")

Yes

In [ ]:
#palindrome string
s=input('Enter a palindrome name :') #Palindrome namea like jahaj , malayalam
if s==s[::-1]:
    print("Yes")
else:
    print("No")

Yes

In [45]:
#string comparission is performed character by character
"Akash">"Bhoomika" #A b aadmel bartetni en?

False

In [46]:
"Sujata">"Deepak"

True

In [ ]:
"akash"<"Akash" #To proove that capital letter comes before small letters

False

In [ ]:
# palindrome name alli  _jahaj kina modlu or jahaj aadmele en madidvi space kottirtive so edanna remove madlike python alli three way ede
# First one rstrip removes space from right of the string
name="Akash    "
updated=name.rstrip()
print(updated)
print(len(updated))

Akash
5

In [49]:
# Second one lstrip remove spaces from left of the string
name= "    Akash"
updated=name.lstrip()
print(updated)
print(len(updated))

Akash
5

In [50]:
# Third one strip for removing both side spaces
name="    Akash     "
updated=name.strip()
print(updated)
print(len(updated))

Akash
5

In [ ]:
#Note strip() methods are only used in the string object
#len() can run for list and other operators too