# Day 5 : Operators Lecture 02

# Ternary Operator

## first value if (condition) else second value

In [1]:
a=10
b=20
c=100 if a<b else 1000
print(c)

100

In [ ]:
#Largest of two numbers
a=int(input("Enter a number : "))
b=int(input("Enter Second number : "))
c= a if (a>b) else b
print(f"{c} is larger")

1000 is larger

In [8]:
#Largest among 3 numbers
a=int(input("Enter a number : "))
b=int(input("Enter second number : "))
c=int(input("Enter third number : "))
#a is largest if this is true a>b and a>c
d=  a if (a>b) and (a>c) else b if (b>c) else c
print(f"{d} is larger among 3 numbers")

30 is larger among 3 numbers

# a=10
# b=20
# Can be written as a,b=10,20

# a=10
# b=20
# c=30
# a,b,c=10,20,30

# is operator

In [10]:
a=100
b=200
id(a)

140726029369352

In [11]:
id(b)

140726029372552

In [12]:
id(a)==id(b)

False

In [13]:
#Same is performed by is operator

In [14]:
a is b

False

# is operator checks or point the id of the variables if id is same it will return true
#  otherwise it will return false

In [15]:
x=15
y=15
id(x)

140726029366632

In [16]:
id(y)

140726029366632

In [17]:
x is y

True

# Python uses concept of optimization or reusability

In [1]:
a="akash"
b="akash"
id(a)

2868075554416

In [2]:
id(b)

2868075554416

In [3]:
a is b

True

In [5]:
list1=[1,2,3]
list2=[1,2,3]
id(list1)

2868075781760

In [6]:
id(list2)

2868075954752

In [7]:
list1 is list2

False

## Membership Operator

## in operator checks members in any string

In [9]:
a="Akash Naik"
'A' in a

True

In [10]:
'k' in a

True

In [11]:
'a' in a

True

In [12]:
'e' in a

False

In [14]:
"akash" not in a

True

In [15]:
l1=[1,2,"Akash"]
print("Akash" in l1)

True

In [16]:
print("Naik" in l1)

False

## in operator is called as membership Operator
## It return true if the given object present in the provided collection/sequence

# not in operator

In [2]:
name="Akash Naik"
'aku' not in name

True

## print()

In [3]:
a=10
b=20
print(a,b)

10 20

## By default output values are seperated by space
## By default it will go to next line without adding /n command by the user

## if we want to specify any operator use sep

In [6]:
print(10,20,30,sep='@')

10@20@30

In [7]:
print(10,20,30,40,sep="#")

10#20#30#40

In [8]:
print(10,20,30,40,sep="")

10203040

In [10]:
print("Akash"+"Naik") #No space because with addition operator in string it concatinates

AkashNaik

In [12]:
print("Akash","Naik") #by giving comma it will automatically seperates

Akash Naik

In [13]:
a=10
b=20
print("The sum is",a+b)

The sum is 30

## end attribute

## by default end='\n'

In [15]:
print("Hello",end=' ')
print("My name is",end=' ')
print("Akash",end=' ')

Hello My name is Akash

## \n new line operator

In [16]:
print("Hello \n I am Akash")

Hello
 I am Akash

## repeatition operator

In [17]:
print("Akash"*3)

AkashAkashAkash

In [19]:
print("Akash"+"Naik")

AkashNaik