# DAY 4 : OPERATORS LEC 01

# Arithmatic Operators

## Example : +, - , * , / , // , % , **

In [2]:
a=10
b=20

In [3]:
print(a+b)

30

In [4]:
print(a-b)
print(a*b)

-10
200

In [6]:
print(a/b) #/ operator always gives floating point arithmatic , returns float value

0.5

In [7]:
# For floor value use //
print(a//b)

0

## There are two division operator in python 
## Single / dicision gives value in float
## Double // division return floor value in int
## // it can perform both floor division as well as floating

In [9]:
20.0//6

3.0

In [32]:
pi=3.14
radius=2
print(pi//radius)

1.0

In [37]:
a=10
b=20
a//b

0

## Modulas operator

In [10]:
20%3

2

In [11]:
## Modulas operator gives remainder

## Power Operator **

In [12]:
2**2

4

In [13]:
2**3

8

In [14]:
2**4

16

## + Operator works on String as well but both operator must be of str type

In [16]:
a="Akash"
b="Naik"
a+b

'AkashNaik'

"Akash"+10

## We can also use string type with * Operator but in that case
## one argument must be int type and other must be str type

In [18]:
"Akash"*2

'AkashAkash'

In [19]:
"Akash"*"Akash"

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
2.5*"Akash"

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
a="3"+"2"
print(a)
print(type(a))

32
<class 'str'>

## We cant multiply str to any float value only int

## Relational Operator (< , > , <= , >=)

In [24]:
10<20

True

In [25]:
20>20

False

In [26]:
10<=10

True

## Relational Operator Applicable to String also

In [ ]:
a="Akash"
b="Naik" 
a<b  # A comes first before N in the disctionary So the answer is true

True

In [28]:
a>b

False

In [ ]:
a="Champa"
b="Champi" #in this case till champ is same it checks for a & i then gives the result
a<b

True

In [31]:
a>b

False

## Logical Operator

## and or not

## Keep this line for and operator And hates false
## if both arguments are true then the result is true otherwise false

## if first operand is false it will return first operand as answer

In [2]:
10 and 20 #true return 20

20

## or loves true

In [ ]:
10 and "Akash" #true so result 2nd operand

'Akash'

In [4]:
10.0+2+3j

(12+3j)

In [5]:
'Akash' and 'Naik'

'Naik'

In [ ]:
'' and 'Akash' #for empty string treated as false so 1st operand as answer

''

## for or operator if atleast one argument is true the result will be true , flase when both operands are false

In [ ]:
10 or 20 #for or operator 1st operand is true then result will be 1st operand if 1st is false then the result will be 2nd operand

10

In [8]:
0 or 20

20

In [9]:
'Akash' or 'Naik'

'Akash'

In [10]:
"" or "Akash"

'Akash'

## not operator

In [11]:
not 10

False

In [12]:
not 10.0

False

In [13]:
not "Akash"

False

In [14]:
not 0

True

In [15]:
not ""

True

In [16]:
not 0+0j

True

## bit-wise operator

## bit-wise and operator

In [17]:
a=5 & 6

In [18]:
a

4

In [19]:
True & True

True

In [20]:
10.3 ^ 4

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

## bit-wise or operator

In [21]:
a=5|5

In [22]:
a

5

## bit-wise xor

In [23]:
a=5^6

In [24]:
a

3